* {
	font-family: 'Roboto', sans-serif;
}

#main {
	margin-top: 70px;
}

.topnav {
	background-color: #333;
	/* overflow: hidden; */
	position: fixed;
	top: 0;
	width: 100%;
	transition: top 0.4s;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	-webkit-transition-property: color, background-color;
	-o-transition-property: color, background-color;
	transition-property: color, background-color;
	-webkit-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

#main h1 {
	margin: top; 
	text-align: center;
	font-size: 40px;
}

.dropbtn {
	background-color: #333;
	color: white;
	padding: 14px 16px;
	font-size: 16px;
	border: none;
	-webkit-transition-property: color, background-color;
	-o-transition-property: color, background-color;
	transition-property: color, background-color;
	-webkit-transition-duration: 250ms;
	-o-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

.dropdown {
	float: left;
	position: relative;
	/* display: inline-block; */
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	/* min-width: 160px; */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	float: initial;
	text-align: initial;
}

.dropdown:hover .dropbtn {
	background-color: white;
	color: black;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

#about-me {
	width: 50%;
	float: left;
	border-radius: 10px;
	border: 3px solid #04AA6D;
	padding: 10px;
}

#about-me h2 {
	text-align: center;
}

iframe {
	border: 2px solid #04AA6D;
	border-radius: 10px;
	width: 960;
	height: 569;
}
